{{extend 'layout_mobile.html'}}
<html>
    <head>
	<link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />
<link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />
<link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />

<script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>
<script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>
   
    </head>
	<style>
		#wrapper{
		background-color:#99b0b0;
	}
	</style>
    <body style="background-color:#99b0b0;" width="100%">   
    <br/>
	{{total_target = 0}}
	{{total_s_order = 0}}
	{{total_sales = 0}}
	{{total_collection = 0}}	
	
	{{for i in range(len(record_rowSTR)):}}
		{{recordListStr = record_rowSTR[i]}}
		{{total_target += float(recordListStr['target'])}}
		{{total_s_order += float(recordListStr['s_order'])}}
		{{total_sales += float(recordListStr['sales'])}}
		{{total_collection += float(recordListStr['collection'])}}
		{{pass}}
	<table width="100%">
		<tr><td colspan='7' style="font-size:18px; color:#FFF;">Target vs Order, Sale & Coll. [RI]</td></tr>
		<tr>
			<td style="vertical-align:middle; width:25%; height:40px; padding:10px; background:linear-gradient(to top, #409FFF -50%, #409FFF 100%); color:#fff; font-weight:bold; border-radius:10px; text-align:center;">Total Target<br/><span style=" font-size:18px;">{{=easy_format(total_target)}}</span></td>
			<td>&nbsp;</td>
			<td style="vertical-align:middle; width:25%; height:40px; padding:10px; background:linear-gradient(to top, #008976 -50%, #008976 100%); color:#fff; font-weight:bold; border-radius:10px; text-align:center;">Total Order<br/><span style=" font-size:18px;">{{=easy_format(total_s_order)}}</span></td>
			<td>&nbsp;</td>
			<td style="vertical-align:middle; width:25%; height:40px; padding:10px; background:linear-gradient(to top, #234567 -50%, #234567 100%); color:#fff; font-weight:bold; border-radius:10px; text-align:center;">Total Sales<br/><span style=" font-size:18px;">{{=easy_format(total_sales)}}</span></td>
			<td>&nbsp;</td>
			<td style="vertical-align:middle; width:25%; height:40px; padding:10px; background:linear-gradient(to top, #876543 -50%, #876543 100%); color:#fff; font-weight:bold; border-radius:10px; text-align:center;">Total Collection<br/><span style=" font-size:18px;">{{=easy_format(total_collection)}}</span></td>
			
		</tr>
	</table>
	<br/>
   	
                
	<table style="background-color:#99b0b0;" width="100%" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
		<tr align="left" style="background-color:#00468C; color:#fff;" class="blackCatHead" height="20px;" style="font-size:12px;">
			
			 <td width=""  >Region</td>
			 <td width="" align="right" >Target</td>
			 <td width="" align="right">Order</td>
			  <td width="" align="right">Sales</td>
			  <td width="" align="right">Collection</td>                 
		</tr>  
		
		{{for i in range(len(record_rowSTR)):}}
			{{recordListStr = record_rowSTR[i]}}
			
			<tr>
			<td>{{=recordListStr['rm_code']}}|{{=recordListStr['region']}}</td>
			<td align="right">{{=easy_format(recordListStr['target'])}}</td>
			<td align="right">{{=easy_format(recordListStr['s_order'])}}</td>
			<td align="right">{{=easy_format(recordListStr['sales'])}}</td>
			<td align="right">{{=easy_format(recordListStr['collection'])}}</td>
			</tr>
			{{pass}}
			
		 
	</table>
		
     
    </body>
</html>


