{{extend 'layout_report.html'}}
<html>
<head>
   
 <link rel="stylesheet" href="{{=URL('static', 'js_and_css/ui.theme.css')}}" type="text/css" />

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/jquery-ui.css')}}" type="text/css" />

<link rel="stylesheet" href="{{=URL('static', 'js_and_css/style.css')}}" type="text/css" />

  
<script src="{{=URL('static','js_and_css/jquery-1.8.2.js')}}"></script>

<script src="{{=URL('static','js_and_css/jquery-ui.js')}}"></script>


<script>
var base_url=location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/{{=request.application}}/";

$(function() { 
	   var refListStrTown='';
	   //alert(base_url+'zrpt_tosc/get_region_list')
	$.ajax({
			  url: base_url+'zrpt_tosc/get_region_list',
			  success: function(resStr) {
				  refListStrTown=resStr
			  }
	});
	
	$('#sum_all_product_regionRI').keyup(function(){
			//-------------------------
			var ref_list = refListStrTown.split(',');				
			var ref_name=$("#sum_all_product_regionRI").val();
			
			//---------------- auto complete combo list
			var ref_list_new=new Array();
			lc=0;
			i =0;
			var refStr="";				
			while (i < ref_list.length)
			{
				refStr=ref_list[i];
				i=i+1;					
				var res=refStr.toUpperCase().match(ref_name.toUpperCase());
				if (res!=null){
					ref_list_new[lc]=refStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#sum_all_product_regionRI" ).autocomplete({
				source: ref_list_new
			});
		
	  });
	  

	
 $.ajax({
		  url: base_url+'zrpt_tosc/get_iten_list',
		  success: function(resStr) {
			  valueListStr=resStr
		  }
		});
$('#sum_all_product_codeRI').keyup(function(){
			
			//-------------------------
			var valueList = valueListStr.split(',');				
			var searchValue=$("#sum_all_product_codeRI").val();
			
			//---------------- auto complete combo list
			var valueList_new=new Array();
			lc=0;
			i =0;
			var valueStr="";				
			while (i < valueList.length)
			{
				valueStr=valueList[i];
				i=i+1;					
				var res=valueStr.toUpperCase().match(searchValue.toUpperCase());
				if (res!=null){
					valueList_new[lc]=valueStr;
					lc=lc+1;
					if (lc==30){
						break;
					};
				}else{
					continue;
				}					
			};
			//alert (ref_list_new);
			
			//-------------- auto complete source
			$( "input#sum_all_product_codeRI" ).autocomplete({
				source: valueList_new
			});
		
	  }); 
	  

 });
</script>
    </head>
    <body> 
	
	
	<table width="900">
		<tr><td colspan='7' style="font-size:18px; color:#C10C11C11;">Allocation and Usage [RI]</td></tr>
		
		
	</table>
	<br/>
	
	
	
	
    <table width="900" class="sample_border" style="background:linear-gradient(to top, #234567 -50%, #234567 100%); color:#fff;">
        <form id="form1" name="form1" method="post" action="{{=URL(c='zrpt_tosc',f='summary_allocation_data_RI')}}" >
               <tr align="left" height="20px">
				   <td colspan="16" >
				    Region ID:{{if session.sum_all_product_regionRI=='':}}<input type="text" name="sum_all_product_regionRI" id="sum_all_product_regionRI" value=""  placeholder="Select Value" style="width:130px"/>{{else:}}<input type="text" name="sum_all_product_regionRI" id="sum_all_product_regionRI" value="{{=session.sum_all_product_regionRI}}"  placeholder="Select Value" style="width:130px"/>{{pass}}
					Item ID :{{if session.sum_all_product_codeRI=='':}}<input type="text" name="sum_all_product_codeRI" id="sum_all_product_codeRI" value=""  placeholder="Select Value" style="width:130px"/>{{else:}}<input type="text" name="sum_all_product_codeRI" id="sum_all_product_codeRI" value="{{=session.sum_all_product_codeRI}}"  placeholder="Select Value" style="width:130px"/>{{pass}}
					<!----Area :{{if session.posmArea=='':}}<input type="text" name="posmArea" id="posmArea" value=""  placeholder="Select Value" style="width:100px"/>{{else:}}<input type="text" name="posmArea" id="posmArea" value="{{=session.posmArea}}"  placeholder="Select Value" style="width:100px"/>{{pass}}
                    MPI :{{if session.posmTown=='':}}<input type="text" name="posmTown" id="posmTown" value=""  placeholder="Select Value" style="width:100px"/>{{else:}}<input type="text" name="posmTown" id="posmTown" value="{{=session.posmTownCode}}"  placeholder="Select Value" style="width:100px"/>{{pass}}--->
                  <input type="submit" name="btn_filter" id="btn_filter" value="Filter"   class="button_update"/>
				   <input type="submit" name="btn_all" id="btn_all" value="All"   class="button_update"/>
				   
					<a href="{{=URL(c='zrpt_tosc',f='download_summary_allocation_data_RI')}}" style="text-decoration:none;float:right;"><input type="button" name="btn_download" id="btn_download" value="Download" title="Download"  class="button_update"  style="float:center"/></a>
                    
				  </td>			
			   </tr>
		</form>
    </table>
   	
	
			
                
        <table width="900" border="1" cellpadding="1" cellspacing="1" class="sample_border" >
            <tr align="left" class="blackCatHead" height="20px" ;  style="font-size:12px; background-color:#E9E9E9;">
                
				 <td width=""  >Region</td>
                <td width=""  >Rep</td>
				<td width=""  >Item</td>
                <td width="" align="right">Allocation QTY</td> 
				<td width="" align="right">Usage QTY</td>
				<td width="" align="right">Gift QTY</td>
				<td width="" align="right">PPM QTY</td>
				<td width="" align="right">Sample QTY</td>				
            </tr>  
						
             {{for i in range(len(record_rowSTR)):}}
				{{recordListStr = record_rowSTR[i]}}
				{{ if i==items_per_page: break}}
				<tr>
				<td>{{=recordListStr['rm_code']}}|{{=recordListStr['region']}}</td>
				<td>{{=recordListStr['REP_ID']}}|{{=recordListStr['rep_name']}}</td>
				<td>{{=recordListStr['ITEM_ID']}}|{{=recordListStr['item_name']}}</td>
				<td align="right">{{=recordListStr['allocation']}}</td>
				<td align="right">{{=recordListStr['gift'] + recordListStr['ppm'] + recordListStr['sample']}}</td>
				<td align="right">{{=recordListStr['gift']}}</td>
				<td align="right">{{=recordListStr['ppm']}}</td>
				<td align="right">{{=recordListStr['sample']}}</td>
				</tr>
				{{pass}}
        </table>
{{if page:}}
&nbsp;&nbsp;<a href="{{=URL(args=[page-page])}}">first</a> |
&nbsp;&nbsp;<a href="{{=URL(args=[page-1])}}">previous</a> |
{{pass}}

{{if len(record_rowSTR)>items_per_page:}}
&nbsp;&nbsp;<a href="{{=URL(args=[page+1])}}">next</a> |
{{pass}}	
     
    </body>
</html>

